<li class="mt-4 pt-4 border-t border-gray-300">
  <table class="w-full">
    <tr>
      <th class="w-[150px]">招待ID</th>
      <td><%= invitation.id %></td>
    </tr>
    <tr>
      <th>作成者</th>
      <td><%= invitation.inviter.name %></td>
    </tr>
    <tr>
      <th>招待する相手</th>
      <td><%= invitation.invitee_name %></td>
    </tr>
    <tr>
      <th>付与するロール</th>
      <td><%= invitation.role.name %></td>
    </tr>
    <tr>
      <th>招待コード</th>
      <td><%= invitation.code %></td>
    </tr>
    <tr>
      <th>招待作成日時</th>
      <td><%= invitation.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
    <tr>
      <th>招待使用日時</th>
      <td><%= invitation.used_at&.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
  </table>
  <% unless invitation.used? %>
    <textarea class="w-full h-[70px] mt-2 p-2 border border-gray-300 rounded-sm"><%= invitation.guide_text %></textarea>
  <% end %>
</li>
